::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgb(172, 193, 207);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}

.container {
  max-width: 900px;
  margin-top: 50px;
}
.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body  {
  background: #666;
}

/* ----------------------------------Search Bar----------------------------------------- */

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.search__form {
  display: flex;
  flex: column;
  max-width: 300px;
}

/* ------------------------------------Song+SongList-------------------------------------- */

.songs__list {
  width: 300px;
  height: 400px;
  overflow-y: scroll;
}

.song {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid rgb(139, 122, 122);
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.song__active {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgb(83, 83, 201);
  font-weight: 600;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid rgb(139, 122, 122);
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: rgb(241, 211, 211);
}

.song__title {
  width: 100px;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}

/* --------------------------Player ----------------------------- */
.player-list {
  display: flex;
}

.player {
  float: left;
  width: 400px;
  font-family: arial;
}

.tracklist {
  float: left;
  width: 100%;
  font-size: 16px;
  margin: 10px;
  padding: 0;
  
  overflow-y: scroll;
}

.tracklist li {
  background: salmon;
  padding: 10px 20px;
}

.tracklist li:hover {
  font-weight: bold;
  cursor: pointer;
}

.buttons {
  float: left;
  width: 100%;
}

.buttons button {
  float: left;
  width: 100px;
  height: 80px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  
}

.buttons button:hover {
  /* background: salmon; */
  font-weight: bold;
}

.timebar {
  float: left;
  width: 100%;
  height: 5px;
  background: rgb(8, 97, 112);
  color: rgb(231, 71, 151);
}

.bar {
  float: left;
}

.time {
  float: right;
  text-align: center;
  line-height: 30px;
  width: 100px;
}
